@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root {
    /* CSS HEX */
    --raisin-black: #212738ff;
    --bittersweet: #f97068ff;
    --pear: #d1d646ff;
    --antiflash-white: #edf2efff;
    --vivid-sky-blue: #57c4e5ff;
    --green-active: #28a745;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
}